.header_logo__ {
  max-width: 110px;
  display: block;
  z-index: 1;
  flex-basis: content;
  
  @include xxs {
    max-width: 90px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}