<header class="main_header__">
  <div class="top_header__">
    <img
      class="icon__"
      src="assets/images/shapes/header_shapes/sudia.svg"
      alt="..." />

    Delivery to all parts of the Kingdom
  </div>
  <div class="fixed_header__">
    <div class="container">
      <div class="header_content__">
        <a class="header_logo__" href="index.html">
          <figure class="figure__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>
        </a>

        <nav class="nav-om" id="navbar-menu-om">
          <button class="close-button__"></button>

          <figure class="figure__ nav_logo__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>

          <ul class="nav-list-om small_size_only__ list-unstyled">
            <li class="header_list_item__" id="spareParts">
              <a href="spare_parts.html">Spare parts</a>
            </li>
            <li class="header_list_item__   " id="accessories">
              <a class="" href="accessories.html">Accessories</a>
            </li>

            <li class="header_list_item__" id="maintenance">
              <a href="maintenance.html">Maintenance</a>
            </li>
            <li class="header_list_item__" id="distributors">
              <a href="distributors.html">Distributors</a>
            </li>
            <li class="header_list_item__" id="aboutUs">
              <a href="about_us.html">who are we</a>
            </li>
          </ul>

          <ul class="toolbar_options__ list-unstyled">
            <li class="block__ sing_up_blocks_list_item__">
              <div class="sing-up-blocks">
                <a class="singup_link" href="register_signup.html">
                  new account
                </a>
                <a
                  class="singup_link login_link"
                  href="register_signin.html"
                  >sign in</a
                >
              </div>
            </li>

            <li class="block__ header_cart_link__">
              <a href="cart.html" class="link__ cart_link__">
                <img class="icon__" src="assets/images/shapes/shopping_cart.svg" alt="...">
              </a>
            </li>

            <li class="block__ lang__ dropdown__ small_size_only__">
              <a class="lang_link__ butt__" href="#!">
                <figure class="figure__">
                  <img
                    class="icon__"
                    src="assets/images/shapes/header_lang_icon.svg"
                    alt="..." />
                </figure>
                English (En)
              </a>
              <ul class="sub-menu__">
                <li><a href="index.html">العربية</a></li>
                <li><a href="index_en.html">English</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- start active nenu button in small sizes  -->
        <button class="menu_button__ button__" id="menu-butt-activ-om">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
          </svg>
        </button>
        <!-- end active nenu button in small sizes  -->
      </div>
    </div>
    <div class="overlay"></div>
    <div class="bootom_header__">
      <div class="container">
        <div class="bootom_header_content__">
          <nav class="nav-om" id="navbar-menu-om">
          <ul class="nav-list-om list-unstyled">
            <li class="header_list_item__" id="spareParts">
              <a href="index.html">Spare parts</a>
            </li>
            <li class="header_list_item__   " id="accessories">
              <a class="" href="accessories.html">Accessories</a>
            </li>

            <li class="header_list_item__" id="maintenance">
              <a href="maintenance.html">Maintenance</a>
            </li>
            <li class="header_list_item__" id="distributors">
              <a href="distributors.html">Distributors</a>
            </li>
            <li class="header_list_item__" id="aboutUs">
              <a href="about_us.html">who are we</a>
            </li>
          </ul>

            <ul class="toolbar_options__ list-unstyled">
              <li class="block__">
                <div class="lang__ dropdown__">
                  <a class="lang_link__ butt__" href="#!">
                    <figure class="figure__">
                      <img
                        class="icon__"
                        src="assets/images/shapes/header_lang_icon.svg"
                        alt="..." />
                    </figure>
                    English (En)
                  </a>
                  <ul class="sub-menu__">
                    <li><a href="index.html">العربية</a></li>
                    <li><a href="index_en.html">English</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>