  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>JEX</title>

  <link rel="Site Icon" href="assets/images/logo.svg" />

  <!-- ############################################################# -->
  <!-- ################ Include Bootstrap Css Files ################ -->
  <!-- #########################  Ar Pages ######################### -->
  <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css" />
  <!-- #########################  En Pages ######################### -->
  <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
  <!-- ############################################################ -->
  <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="assets/css/all.min.css" />
  <link rel="stylesheet" href="assets/css/swiper.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
