<header class="main_header__">
  <div class="top_header__">
    <img
      class="icon__"
      src="assets/images/shapes/header_shapes/sudia.svg"
      alt="..." />

    التوصيل إلى جميع أنحاء المملكة
  </div>
  <div class="fixed_header__">
    <div class="container">
      <div class="header_content__">
        <a class="header_logo__" href="index.html">
          <figure class="figure__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>
        </a>

        <nav class="nav-om" id="navbar-menu-om">
          <button class="close-button__"></button>

          <figure class="figure__ nav_logo__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>

          <ul class="nav-list-om small_size_only__ list-unstyled">
            <li class="header_list_item__" id="spareParts">
              <a href="spare_parts.html">قطع الغيار</a>
            </li>
            <li class="header_list_item__" id="accessories">
              <a class="" href="accessories.html">الإكسسوارات</a>
            </li>

            <li class="header_list_item__" id="maintenance">
              <a href="maintenance.html">الصيانة</a>
            </li>
            <li class="header_list_item__" id="distributors">
              <a href="distributors.html">الموزعين</a>
            </li>
            <li class="header_list_item__" id="aboutUs">
              <a href="about_us.html">من نحن</a>
            </li>
          </ul>

          <ul class="toolbar_options__ list-unstyled">
            <li class="block__ dropdown__ info_link_item__">
              <a class="info_link_block__" href="#!">
                مرحبا
                <span class="user_name__"> محمد السعدي</span>
              </a>
              <ul class="sub-menu__">
                <li>
                  <a class="my_requests" href="my_requests.html"> طلباتي </a>
                </li>
                <li>
                  <a class="saved_addesess" href="address.html">
                    العناوين المحفوظة
                  </a>
                </li>
                <li>
                  <a class="profile" href="profile.html"> الملف الشخصي </a>
                </li>
                <li>
                  <button
                    class="signout_link__ list_content__"
                    data-toggle="modal"
                    data-target="#sign_out_modal">
                    تسجيل الخروج
                  </button>
                </li>
              </ul>
            </li>

            <li class="block__ header_cart_link__">
              <a href="cart.html" class="link__ cart_link__">
                <img
                  class="icon__"
                  src="assets/images/shapes/shopping_cart.svg"
                  alt="..." />
              </a>
            </li>

            <li class="block__ lang__ dropdown__ small_size_only__">
              <a class="lang_link__ butt__" href="#!">
                <figure class="figure__">
                  <img
                    class="icon__"
                    src="assets/images/shapes/header_lang_icon.svg"
                    alt="..." />
                </figure>
                العربية (ar)
              </a>
              <ul class="sub-menu__">
                <li><a href="index.html">العربية</a></li>
                <li><a href="index_en.html">English</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- start active nenu button in small sizes  -->
        <button class="menu_button__ button__" id="menu-butt-activ-om">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
          </svg>
        </button>
        <!-- end active nenu button in small sizes  -->
      </div>
    </div>
    <div class="overlay"></div>
    <div class="bootom_header__">
      <div class="container">
        <div class="bootom_header_content__">
          <nav class="nav-om" id="navbar-menu-om">
            <ul class="nav-list-om list-unstyled">
              <li class="header_list_item__" id="spareParts">
                <a href="index.html">قطع الغيار</a>
              </li>
              <li class="header_list_item__" id="accessories">
                <a class="" href="accessories.html">الإكسسوارات</a>
              </li>

              <li class="header_list_item__" id="maintenance">
                <a href="maintenance.html">الصيانة</a>
              </li>
              <li class="header_list_item__" id="distributors">
                <a href="distributors.html">الموزعين</a>
              </li>
              <li class="header_list_item__" id="aboutUs">
                <a href="about_us.html">من نحن</a>
              </li>
            </ul>

            <ul class="toolbar_options__ list-unstyled">
              <li class="block__">
                <div class="lang__ dropdown__">
                  <a class="lang_link__ butt__" href="#!">
                    <figure class="figure__">
                      <img
                        class="icon__"
                        src="assets/images/shapes/header_lang_icon.svg"
                        alt="..." />
                    </figure>
                    العربية (ar)
                  </a>
                  <ul class="sub-menu__">
                    <li><a href="index.html">العربية</a></li>
                    <li><a href="index_en.html">English</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
