<!-- Start Add To Cart Modal -->

<div
  class="modal fade deal_modal_report"
  id="add_to_cart-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <div class="icon_title_wrapper__">
          <img
            class="icon__"
            src="assets/images/shapes/shopping_cart.svg"
            alt="..." />
          <h2 class="title">تم إضافة المنتجات إلى السلة</h2>

          <button
            type="button"
            class="close_modal_button button__"
            data-dismiss="modal"
            aria-label="Close">
            <img
              class="close_modal_img"
              src="assets/images/modal/close_modal_icon.svg"
              alt="" />
            <img
              class="icon__"
              src="assets/images/shapes/modal_close_icon.svg"
              alt="..." />
          </button>
        </div>

        <p class="parag__">
          تم إضافة عدد 3 من المنتجات إلى سلتك يمكنك الذهاب إلى السلة وإنهاء طلبك
        </p>

        <a href="cart.html" class="button__ submit-button__ full_width__">
          الذهاب إلى السلة
        </a>
      </div>
    </div>
  </div>
</div>

<!-- End Add To Cart Modal -->

<!-- Start Add Address Modal -->

<div
  class="modal fade deal_modal_report"
  id="add_address-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog add_address_modal">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <div class="icon_title_wrapper__">
          <img
            class="icon__"
            src="assets/images/shapes/add_address_modal_title_icon.svg"
            alt="..." />
          <h2 class="title">إضافة عنوان توصيل آخر</h2>

          <button
            type="button"
            class="close_modal_button button__"
            data-dismiss="modal"
            aria-label="Close">
            <img
              class="close_modal_img"
              src="assets/images/modal/close_modal_icon.svg"
              alt="" />
            <img
              class="icon__"
              src="assets/images/shapes/modal_close_icon.svg"
              alt="..." />
          </button>
        </div>

        <iframe
          class="map_frame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1855575.336546754!2d47.943809594340166!3d24.721023435888597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2z2KfZhNix2YrYp9i2INin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2seg!4v1696855111012!5m2!1sar!2seg"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="input_group__ flex_group__ group_gap__">
          <select class="select__ selectpicker">
            <option value="">المدينة</option>
          </select>
          <select class="select__ selectpicker">
            <option value="">الحي</option>
          </select>
        </div>
        <div class="input_group__ flex_group__ group_gap__">
          <input
            type="text"
            class="input__"
            placeholder="تسمية الموقع (المنزل - العمل ... )" />
          <input
            type="text"
            class="input__"
            placeholder="الوصف ( الشارع - رقم المنى - الشقة .. )" />
        </div>

        <button class="button__ submit-button__ full_width__">
          إضافة العنوان
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Add Address Modal -->

<!-- Start Delete Address Modal -->

<div
  class="modal fade deal_modal_report"
  id="delete_address-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <div class="icon_title_wrapper__">
          <img
            class="icon__"
            src="assets/images/shapes/delete_icon.svg"
            alt="..." />
          <h2 class="title">حذف العنوان</h2>

          <button
            type="button"
            class="close_modal_button button__"
            data-dismiss="modal"
            aria-label="Close">
            <img
              class="close_modal_img"
              src="assets/images/modal/close_modal_icon.svg"
              alt="" />
            <img
              class="icon__"
              src="assets/images/shapes/modal_close_icon.svg"
              alt="..." />
          </button>
        </div>

        <p class="parag__">هل أنت متأكد من حذف هذا العنوان ؟</p>

        <button class="button__ submit-button__ full_width__ red_background">
          تأكيد الحذف
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Delete Address Modal -->

<!-- Start Delete Account Modal -->

<div
  class="modal fade deal_modal_report"
  id="delete_account-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <div class="icon_title_wrapper__">
          <img
            class="icon__"
            src="assets/images/shapes/modal_delete_account_title_icon.svg"
            alt="..." />
          <h2 class="title">حذف الحساب</h2>

          <button
            type="button"
            class="close_modal_button button__"
            data-dismiss="modal"
            aria-label="Close">
            <img
              class="close_modal_img"
              src="assets/images/modal/close_modal_icon.svg"
              alt="" />
            <img
              class="icon__"
              src="assets/images/shapes/modal_close_icon.svg"
              alt="..." />
          </button>
        </div>

        <p class="parag__">هل أنت متأكد من حذف حسابك بجميع بياناته ؟</p>

        <button class="button__ submit-button__ full_width__ red_background">
          تأكيد الحذف
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Delete Account Modal -->

<!-- Start Sign Out Modal -->

<div
  class="modal fade deal_modal_report"
  id="sign_out_modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <div class="icon_title_wrapper__">
          <img
            class="icon__"
            src="assets/images/shapes/header_shapes/log_out.svg"
            alt="..." />
          <h2 class="title">تسجيل الخروج</h2>

          <button
            type="button"
            class="close_modal_button button__"
            data-dismiss="modal"
            aria-label="Close">
            <img
              class="close_modal_img"
              src="assets/images/modal/close_modal_icon.svg"
              alt="" />
            <img
              class="icon__"
              src="assets/images/shapes/modal_close_icon.svg"
              alt="..." />
          </button>
        </div>

        <p class="parag__">هل أنت متأكد من تسجيل الخروج من حسابك ؟</p>

        <button class="button__ submit-button__ full_width__ red_background">
          تسجيل الخروج
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Sign Out Modal -->


<!-- Start Terms Modal -->

<div
  class="modal fade deal_modal_report"
  id="terms_modal__"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog large_width__">
    <div class="modal-content second_padding__">
      <div class="modal_block__">
        <h2 class="title">الشروط والأحكام</h2>

        <h4 class="parag_head__">مقدمة</h4>

        <p class="parag__">
          أعدت هذه الشروط والأحكام "الشروط" لتكون المرجع النظامي الملزم فيما
          يتعلق بالخدمات المقدمة من شركة صفقة استثمارية لك. إن شركة نمو مؤسسة
          وفق أنظمة المملكة العربية السعودية، وهي شركة مرخصة من البنك المركزي
          السعودي لتقديم خدمات (التمويل الاستهلاكي المصغر)، وتنظم هذه الشروط
          استخدامك لموقع الشركة أو تطبيقاتها على الأجهزة الذكية
        </p>
        <p class="parag__">
          إن اطلاعك على الشروط وقبولها من قبلك يعد شرطاً أساسياً لإكمال تسجيلك
          لدينا وعرض خدماتنا عليك. ذلك أن الشركة تلتزم قبل تقديم أي خدمات لك ،
          أن تعمل فحوصات "اعرف عميلك" أو المعروفة بـ (KYC) للتأكد منك ومن صفتك
          وماذا كان تقديم خدماتنا لك مسموح نظاماً. لذلك يرجى قراءة هذه الشروط
          بعناية، وإذا كنت لا توافق على الشروط فلا تقم باستخدام خدمات شركة نمو
          .ان شروط الاستخدام هذه والوثائق القانونية خاضعة للتعديل من قبلنا في اي
          وقت. إن استمرار استخدامك للموقع بعد نشر أي تغيير يعني موافقتك على شروط
          الاستخدام هذه والوثائق القانونية التي تم تعديلها
        </p>
        <h4 class="parag_head__">شروط الاستخدام</h4>

        <p class="parag__">
          يتم توفير شروط الاستخدام عبر موقع شركة نمو "الشركة"، بما في ذلك أي
          مجال فرعي من الموقع الإلكتروني أو تطبيقات الهواتف الذكية، فيجب عليك
          التأكد من قراءة وفهم شروط الاستخدام بعناية فائقة والموافقة عليها
          والالتزام بها، وبغض النظر عن كونك زائراً أو عضواً مسجلاً في الموقع.
          إذا كنت لا ترغب في الالتزام بشروط الاستخدام فلا يجب عليك الوصول إلى
          الموقع أو استخدامه. بالإضافة إلى شروط الاستخدام؛ يمكنك الدخول في
          اتفاقيات أخرى معنا، والتي ستحكم استخدامك للمنتجات والخدمات المقدمة على
          الموقع. إذا كان هناك أي تعارض بين شروط الاستخدام أو أي اتفاقيات أخرى
          تنطبق على منتج أو خدمة معروضة على الموقع؛ فتكون الاتفاقيات هي المقدمة
          في التطبيق
        </p>

        <button
          type="button"
          class="close_modal_button button__"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/modal/close_modal_icon.svg"
            alt="" />
          إغلاق
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Terms Modal -->