.input__ {
  height: 46px;
  border: solid 1px transparent;
  background-color: $greyColor;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  color: $headingMainColor;
  padding: 20px 29px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-radius: $mainBorderRadius;

  &:focus,
  &:hover {
    border-color: $primaryColor;
  }

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: #394444;
    opacity: 1;
    transition: 0.5s;
  }
  
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
