.cart_page {

  .inputs_wrapper__  {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .figure__ {
    margin-bottom: 25px;
  }

  .title__ {
    text-align: center;
    margin-bottom: 11px;
    font-size: 1.8rem;
    color: $headingMainColor;
    font-weight: 700;
  }
  
  .sub_title__ {
    font-size: 1.6rem;
    font-weight: 300;
    color: $headingMainColor;
    text-align: center;
  }

  .title_wrapper__ {
    &.with_margin_bottom {
      margin-bottom: 20px;
    }
  }
  
  .block_main_title__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 17px;
    
    &.small_margin_bottom {
      margin-bottom: 10px;
    }
  }

  .block_main_sub_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }
  
  .purchased_items_wrapper__,
  .total_price_wrapper__ {
    margin-bottom: 30px;

    @include xs {
      margin-bottom: 15px;
    }
  }

  .coupon_input_wrapper__ {
    margin-bottom: 32px;
  }

  .price_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price_title__ {
      font-size: 1.4rem;
      font-weight: 400;
      color: $paragraphMainColor;
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 14px;
        background-color: rgba($paragraphMainColor,0.25);
        border-radius: $secondaryBorderRadius;
      }
    }

    .price__ {
      font-size: 1.8rem;
      font-weight: 300;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &.total_price_wrapper__ {
      .price_title__ {
        &::before  {
          background-color: rgba($primaryColor ,0.56) !important;
        }
      }

      .price__ {
      font-weight: 700;
      }
    }
  }

  .block_title_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  .radio-group-om {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .address_wrapper__ {
    padding-bottom: 66px;
    margin-bottom: 30px;
    border-bottom: 1px solid $borderColor;
  }

  .payment_methods_wrapper__ {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline-start: 30px;

    .icon__ {
      max-width: 40px;
      max-height: 40px;
    }
  }

  .warning_text__ {
    font-size: 1.35rem;
    font-weight: 300;
    color: $mainRedColor;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba($mainRedColor ,0.04);
    border-radius: $secondaryBorderRadius;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .bold_title__ {
      font-weight: 400;
      flex-shrink: 0;
    }

  }

  .sing_up_block_wrapper__ {
    margin-bottom: 20px;
  }

  .map_frame ,
  iframe {
    width: 100%;
    height: 160px;
    border-radius: $secondaryBorderRadius;
  }

  .add_address_block__ {
    margin-bottom: 35px;
  }
}