.hero_section__ {
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;

  @include sm {
    padding-top: 30px;
  }

  &::after {
    position: absolute;
    content: url(../images/hero_section/hero_section_background.svg);
    inset-inline-end: 0;
    bottom: -9px;
    z-index: -1;
  }

  .hero_main_title__,
  .parag__ {
    max-width: 387px;

    @include sm {
      max-width: 100%;
      text-align: center;
    }
  }

  .hero_main_title__ {
    font-size: 3.7rem;
    color: $headingSecondaryColor;
    line-height: 53px;
    margin-bottom: 20px;
  }

  .parag__ {
    color: $headingSecondaryColor;
    font-size: 1.4rem;
    margin-bottom: 23px;
  }

  .figure__ {
    padding-bottom: 75.054%;
  }
}

.about_us_section {
  background-color: $greyColor;
  position: relative;
  overflow: hidden;

  &::after {
    content: url(../images/shapes/about_us_section_background_shape_one.svg);
    position: absolute;
    top: 40px;
    inset-inline-start: -97px;
  }

  &::before {
    content: url(../images/shapes/about_us_section_background_shape_two.svg);
    position: absolute;
    bottom: 40px;
    inset-inline-end: -126px;
  }

  .icon__ {
    margin-bottom: 30px;
    
    @include xs {
      margin-bottom: 15px;
    }
  }
  
  .title__ {
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: $headingSecondaryColor;
    
    @include xs {
      margin-bottom: 15px;
    }
  }
  
  .main_parag__ {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    color: $headingSecondaryColor;
    
    @include xs {
      margin-bottom: 15px;
    }
  }
  
  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    color: $paragraphMainColor;
    
    @include xs {
      margin-bottom: 15px;
    }
  }
}

.maintenance_section {
  position: relative;
  margin-bottom: 220px;
  margin-top: 80px;
  
  @include sm {
    margin-bottom: 110px;
    margin-top: 40px;
  }
  
  @include xs {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewY(6deg);
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    z-index: -1;
  }
}