.form_label_for_info__ {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .head__,
  .link__ {
    font-size: 1.3rem;
    font-weight: 400;
    color: $headingSecondaryColor;
    margin-bottom: 0;
  }

  .link__ {
    color: $secondaryColor;
    transition: 0.5s;
    margin-inline-start: 10px;
  }

  &.border_wrapper__ {
    border: 1px solid $secondaryColor;
    border-radius: $mainBorderRadius;
    padding: 13px 10px;
  }
}

.form_label_for_info_group__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registeration_page__ {
  padding-top: 75px;
  padding-bottom: 75px;

  @include sm {
    padding: 20px 0;
  }
}

.code_shapes__ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: ltr;
  position: relative;
  width: 100%;
  
  margin-bottom: 26px;
  gap: 10px;

  .code-input {
    text-align: center;
    width: 76px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $mainBorderRadius;
    border: 1px solid transparent;
    font-size: 2.5rem;
    color: $secondaryColor;
    font-family: sans-serif;
    outline: none;
    background-color: $greyColor;
    transition: 0.5s;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}

.count_down_wrapper__ {
  position: relative;
  width: fit-content;
  margin: 0 auto;

  svg {
    g {
      stroke-dasharray: 140 350;
      stroke-width: 3;
      stroke-linecap:round;
      stroke: #707070;
      fill: #fff;
      transition: 1s;

    }
  }

  .text__ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 1.2rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }
}