.single_product_page__ {
  .img_wrapper__ {
    background-color: #fff;
    box-shadow: 0 0 60px rgba(#ACACAC , 0.16) ;
    padding: 90px 44px;
    border-radius: $secondaryBorderRadius;
  }

  .figure__ {
    padding-bottom: 56.88%;
  }

  .title__ {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .rating_wrapper__ {
    margin-bottom: 30px;
  }

  .sub_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-inline-end: 35px;

    &.with_margin_bottom__ {
      margin-bottom: 15px;
    }
  } 

  .info__ {
    font-size: 1.8rem;
    color: $headingMainColor;
    font-weight: 300;
  }

  .product_info_wrapper__ {
    margin-bottom: 18px;
  }

  .product_status__ {
    .available__ {
      color: $greenColor;
    }
  }
  
  .price__ {
    display: block;
    font-size: 2.7rem;
  }

  .parag__ {
    font-size: 1.6rem;
    color: $paragraphMainColor;
    margin-bottom: 20px;
    font-weight: 300;
  }

  .guarantee_text__ {
    background-color: rgba($greenColor , 0.04);
    color: $greenColor;
    padding: 11px 55px;
    border-radius: $mainBorderRadius;

    @include xs {
      padding: 10px;
    }
  }
}