.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $secondaryColor;
  padding-top: 50px;
  overflow: hidden;

  &::after {
    content: url(../images/shapes/footer_background_shape.svg);
    position: absolute;
    bottom: -70px;
    inset-inline-end: -75px;
    
  }

}

.footer_logo {
  margin-bottom: 30px !important;
}

.footer_list__ {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 40px;
  padding: 0;
  max-width: 617px;
  
  @include xs {
    flex-wrap: wrap;
    gap: 10px;
  }

  li {

    @include xs {
      width: calc(50% - 5px);
    }
  }

  a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;

    @include xxs {
      font-size: 9px;
    }

    @include dir {
      font-size: 12px;

      @include xxs {
        font-size: 7px;
      }
    }

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $primaryColor;
      transition: 0.5s;
    }


    &:hover {
      opacity: 0.8;
      color: $primaryColor;

      &::before {
        background-color: $primaryColor;
      }
    }
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 15px;
    }
    
    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid rgba(#fff , 0.34);
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
    }
    
    &:hover {
      background-color: rgba(#fff, 1);

      img {
        filter: brightness(0) !important;
      }
    
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  color: #fff;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: $secondaryColor;
  border: 0;
  
  @include sm {
    padding: 20px 0;
    justify-content: center;
  }
  
  @include xxs {
    font-size: 8px;
  }
  

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
