.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.fixed_size__ {
    min-width: 344px;
    max-width: 344px;
    margin-top: 15px;
  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &.red_background {
    background-color: #EA0449 !important;

    &:hover {
      background-color: rgba(#EA0449 , 0.85) !important;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;
    
    &:hover {
      background-color: rgba($primaryColor , 0.9);
    }
  }

  &.hero_section_search_button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    .icon__ {
      filter: brightness(0) invert(1);
    }
  }

  &.about_us_section_button {
    background-color: $secondaryColor;
    width: fit-content;
    font-size: 1.4rem;

    &:hover {
      background-color: rgba($secondaryColor , 0.9);
    }
  }

  &.sign_up_terms_modal_button {
    color: $headingMainColor;
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    margin: 2px !important;
    text-decoration: underline;
  }

  &.set_quantity_button__ {
    width: 38px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: $mainBorderRadius;
    
    .icon__ {
      filter: brightness(0);
    }

    &:hover {
      border-color: $primaryColor;

      .icon__ {
        filter: unset;
      }
    }
  }

  &.add_product_to_cart {
    .icon__ {
      filter: brightness(0)invert(1);
    }
  }

  &.add_coupon {
    background-color: $greenColor;

    &:hover {
      background-color: rgba($greenColor , 0.9);
    }
  }

  &.delete_purchased_item__ {
    position: absolute;
    top: -10px;
    inset-inline-end: -10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(#ACACAC,0.18);
    opacity: 0;
    visibility: hidden;

    &:hover {
      background-color: $mainRedColor;
      
      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  }

  &.add_address_button__ {
    padding: 11px 13px;
  }

  &.rate_button {
    background-color: $orangeColor;

    &:hover {
      background-color: rgba($orangeColor , 0.8);
    }
  }

  &.send_code_again {
    background-color: rgba($secondaryColor , 0.06);
    color: $headingMainColor;
    
    &:hover {
      background-color: rgba($secondaryColor , 1);
      color: #fff;
    }
  }
}
