.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.main_link {
    height: 56px;
    color: #fff;
    padding: 0 30px;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.product_card_link__ {
    background-color: $primaryColor;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
    &:hover {
      background-color: rgba($primaryColor , 0.9);
    }
  }

  &.register_second_link__ {
    background-color: rgba($primaryColor , 0.06);
    height: 46px;
    padding: 15px 20px;
    border-radius: $mainBorderRadius;
    font-size: 1.2rem;
    color: $primaryColor;

    @include dir {
      .icon__ {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $primaryColor;
      color: #fff;

      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  }

  &.change_password_link {
    width: 100%;
    background-color: $greyColor;
    padding: 20px 45px;
    border-radius: $secondaryBorderRadius;
    gap: 10px;

    .icon__ {
      filter: grayscale(1);
      transition: 0.5s;
    }

    .title__ {
      display: block;
      font-size: 1.6rem;
      font-weight: 700;
      color: $headingMainColor;
      margin-bottom: 5px;
      text-align: start;
    }

    .sub_title__ {
      font-size: 1.2rem;
      font-weight: 300;
      color: $headingMainColor;
    }

    .arrow_icon__ {
      margin-inline-start: auto;  
    }

    &:hover {
      background-color: rgba($primaryColor , 0.04);
      
    .icon__ {
      filter: unset;
    }
    }
  }

  &.forget_password_link {
    font-size: 1.4rem;
    font-weight: 300;
    color: $headingMainColor;
    margin-top: 15px;
  }

  &.cart_link__ {
    width: 48px;
    height: 46px;
    border-radius: $mainBorderRadius;
    background-color: rgba($primaryColor , 0.08);
    margin-inline-start: 15px;

    &:hover {
      background-color: $primaryColor;

      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  } 
}
