.address_card {
  padding: 20px 30px;
  box-shadow: 0 0 30px rgba(#acacac, 0.16);
  border-radius: $secondaryBorderRadius;

  .head_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .blocks_wrapper__ {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .block_head__ {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 10px;
  }
  
  .block_info__{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;

  }
}