.best_distributors_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(#ACACAC,0.18);
  border-radius: $secondaryBorderRadius;

  .figure__ {
    padding-bottom: 63.722%;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
  }

  .description_wrapper {
    padding: 15px 17px 30px;
  }
  
  .title__ {
    font-size: 1.6rem;
    font-weight: 500;
    color: $headingSecondaryColor;
    margin-bottom: 20px;
  }

  .description_point {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 25px;
    
    &:last-child {
      margin-bottom: 20px;
    }
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }
  }

}