.modal {
  top: 10vh;
  overflow: unset !important;

  // .close {
  //   position: absolute;
  //   top: 5px;
  //   inset-inline-start: 10px;
  // }

  .modal-content {
    padding: 30px;
    border-radius: 26px;
    text-align: center;
    border: none;
  }
}

.modal-backdrop {
  background-color: $secondaryColor !important;
  opacity: 0.35 !important;
}

// .modal-open .container-fluid, .modal-open  .container {
//   // -webkit-filter: blur(5px) grayscale(60%);
// }


.modal-dialog {
  padding: 20px 0;
  max-width: 382px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  
  &.small_fixed_width {
    max-width: 330px;
  }
  
  &.add_address_modal {
    max-width: 644px;
  }

  &.large_width__ {
      max-width: 70%;
  }
}

.modal_block__ {
  .icon_title_wrapper__ {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;

    .icon__ {
      max-width: 24px;
      min-width: 24px;
      max-height: 24px;
      min-height: 24px;
    }
  }

  .title {
    font-size: 1.4rem;
    font-weight: 600;
    color: $headingMainColor;
  }

  .sub_title__ {
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 20px;
    color: $paragraphMainColor;
    text-align: center;
  }

  .modal_form__ {
    margin-top: 30px;
  }

  .parag_head__ {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    color: $headingMainColor;
    text-align: start;
    margin-inline-start: 12px;
    margin-bottom: 15px;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    color: $paragraphSecondaryColor !important;
    text-align: start;
    margin-bottom: 15px;

    &.with_border {
      padding-bottom: 20px;
      border-bottom: 1px solid $borderColor;
    }
  }

  .close_modal_button {
    margin-inline-start: auto;


    .icon__ {
      max-width: 35px;
      min-width: 35px;
      max-height: 35px;
      min-height: 35px;
    }

    &:focus {
      outline: none;
    }
  }

  .map_frame,
  iframe {
    width: 100%;
    height: 160px;
    border-radius: $mainBorderRadius;
    margin-bottom: 20px;
  }

  .submit-button__ {
    margin-top: 20px;
  }
}

.delete_modal {
  .figure__ {
    width: 25px;
    height: 27.5px;
  }
}
