.chosen_text_wrapper__ {
  .chosen_title__ {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: $primaryColor;

  }
  
  .chosen_description__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $headingMainColor;

  }
}
