.clints_reating_card {
  padding: 20px 25px ;
  border-radius: $secondaryBorderRadius;
  box-shadow: 0 0 30px rgba(#ACACAC , 0.16);

  .head__ {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .figure__ {
    padding: 0 !important;
  }
  
  .name__ {
    font-size: 1.4rem;
    color: $headingMainColor;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .rating_wrapper__ {
    font-size: 1.2rem;
    margin-bottom: 20px !important;
    gap: 5px;
  }

  .parag__ {
    font-size: 1.4rem !important;
    color: $paragraphMainColor;
    font-weight: 300;
  }
}