.site_link {
  padding: 0 26px;
  background-color: rgba($primaryColor, 0.08);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 162px;
  color: $primaryColor;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  max-width: max-content;
  border-radius: $mainBorderRadius;
  transition: 0.5s;

  @include sm {
    min-width: 100px;
    padding: 0;
  }
  
  .icon__ {
    margin-inline-start: 6px;
    transition: 0.5s;

    @include dir {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: rgba($primaryColor, 0.9);
    text-decoration: none;
    color: #fff;

    .icon__ {
      filter: brightness(0) invert(1);
    }
  }

  &.center {
    margin: 0 auto;
  }

  &.white_color__ {
    background-color: rgba(#fff, 0.12 );
    color: #fff;

    .icon__ {
      filter: brightness(0) invert(1);
    }
    &:hover {
      background-color: #fff;
      color: $primaryColor;
      
      .icon__ {
        filter: unset;
      }
    }
  }
}
