.section_main_title__ {
  font-size: 2.9rem;
  font-weight: 700;
  width: fit-content;
  color: $primaryColor;
  margin-bottom: 12px;
  margin: 0;
  margin-bottom: 15px;
  
  @include xs {
    font-size: 2rem;
  }
}

.section_sub_title__ {
  font-size: 1.7rem;
  font-weight: 400;
  color: $headingMainColor;
  margin: 0;
  
  @include xs {
    font-size: 1.6rem;
  }
}

.section_head_wrapper {
  margin-bottom: 30px;

  @include sm {
    margin-bottom: 20px;
  }

  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.white_color__ {
    .section_main_title__,
    .section_sub_title__ {
      color: #fff;
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
