.maintenance_card {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  padding: 22px;
  border-radius: $secondaryBorderRadius;


  @include xs {
    flex-direction: column;
  }
  
  .img_wrapper__ {
    min-width: 192px;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;

    @include xs {
      min-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 105.208%;
  }

  .description_wrapper {
    width: 100%;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 500;
    color: $headingSecondaryColor;
    margin-bottom: 20px;
  }

  .description_point {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 25px;
    
    &:last-child {
      margin-bottom: 20px;
    }
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }
  }

}