.mixitup_controls_wrapper__ {
  padding: 0;
  border: none;
  margin: 0;
  gap: 15px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 8px;

  flex-wrap: nowrap !important;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 8px;
    transition: all 3s ease-in-out;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: $mainBorderRadius;
    background-color: transparent;
    transition: all 3s ease-in-out;

    @include sm {
      background-color: #f1f1f1;
    }
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: $mainBorderRadius;
    background-color: transparent;
    transition: all 3s ease-in-out;

    @include sm {
      background-color: $primaryColor;
    }
  }
  
  &::-webkit-scrollbar-thumb:hover {
    transition: all 3s ease-in-out;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: $mainBorderRadius;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $primaryColor;
    }
  }

  

  &.fit_content_width {
    width: fit-content;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center__ {
    justify-content: center !important;
    min-width: 100% !important;
  }

  &.with_margin {
    margin-bottom: 80px;
  }

  &.small_size_none_margin__ {
    @include sm {
      margin: 0;
    }
  }

  &.display_block__ {
    display: block;
    width: 100% !important;
  }


  .filter {
    border: none;
    height: 46px;
    width: 100%;
    min-width: fit-content;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: $mainBorderRadius;
    color: $paragraphMainColor;
    background-color: transparent;
    border: 1px solid $paragraphMainColor;
    cursor: pointer;
    padding: 16px;
    transition: 0.5s;

    @include sm {
      width: fit-content;
      width: 100%;
    }

    &.full_width__ {
      min-width: 100%;
    }

    &.fixed_width__ {
      width: 168px;
    }

    &:hover {
      background-color: rgba($primaryColor , 0.1);
    }

    &.mixitup-control-active {
      border-color: $primaryColor;
      background-color: $primaryColor;
      color: #fff;

      &:hover {
        background-color: rgba($primaryColor , 0.9);
      }
    }
  }
}

.mixitup_box_list {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 500px;

  .mix {
    width: 100%;
  }

  &.column_dir {
    flex-direction: column;
  }
}
