.product_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(#ACACAC,0.18);
  background-color: #fff;
  border-radius: $secondaryBorderRadius;
  padding: 40px 20px;
  transition: 0.5s;

  .figure__ {
    padding-bottom: 56.880%;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 500;
    color: $headingSecondaryColor;
    margin-bottom: 10px;
    transition: 0.5s;
  }

  .description_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  .product_number_title {
    font-size: 1.4;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 5px;
  }

  .product_number_info {
    font-size: 1.5rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 5px;
  }


  &:hover {
    text-decoration: none;
    box-shadow: 0 0 30px rgba($primaryColor , 0.4);

    .title__ {
      color: $primaryColor;
    }

    .img-om {
      transform: scale(1.1);
    }
  }
}