.purchased_card {
  padding: 20px;
  box-shadow: 0 0 30px rgba(#ACACAC,0.18);
  border-radius: $mainBorderRadius;
  position: relative;
  // overflow: hidden;

  .card_blocks_wrapper__{
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @include xs {
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
    }
  }

  .img_wrapper__ {
    min-width: 106px;
  }
  
  .figure__ {
    padding-bottom: 56.603%;
    margin: 0 !important;
  }

  .block_title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 15px;
  }
  
  .card_title__ {
    font-size: 1.4rem;
    font-weight: 700;
    max-width: 200px;
    color: $headingMainColor
  }

  .set_quantity_button__ {
    width: 29px;
    height: 27px;
    border-radius: $mainBorderRadius;

    .icon__ {
      transform: scale(0.7);
    }
  }
  
  .input__ {
    font-size: 2.1rem;
    height: 27px;
    width: 40px;
  }

  .price__ {
    font-size: 1.6rem;
  }

  .quantity_value {
    font-size: 2.1rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }

  &.requests_details_purchased_card {
    .price_block {
      margin-inline-start: auto;
    }
  }
  
  &:hover {
    .delete_purchased_item__ {
      opacity: 1;
      visibility: visible;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 17px;
  }
}