.rating_form_wrapper {
  margin-top: 35px;
  padding-top: 20px;
  border-top: 1px solid $borderColor;

  .card_form_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 15px;
  }

  .rating_form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .input__ {
    width: 100%;
    height: 46px;
  }
}