.rating_wrapper__ {
  color: #D9D9D9;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 7px;
  
  
  .active,
  .num__ {
    color: $orangeColor;
  }
  
  &.with_margin_bottom__ {
    margin-bottom: 32px;
  }

  &.rate_product {
    white-space: nowrap;
    
    input[type="radio"] {
      appearance: none;
    }
  
    i {
      font-size: 1.2em;
      transition: 0.3s;
    }
  
    label {
      margin: 0 ;
      cursor: pointer;

      &:is(:hover , :has(~ :hover)) {
        i {
          transform: scale(1.2);
          color: rgba($orangeColor , 0.5);
        }
      }
  
      &:has(~ :checked) i {
        color: $orangeColor;
      }
    }
  }
}