.request_card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 30px rgba(#acacac, 0.16);
  padding: 35px 15px;

  @include md {
    gap: 10px;
  }

  @include xxs {
    flex-wrap: wrap;
    padding: 10px 8px;
  }

  .img_wrapper__ {
    min-width: 106px;
    
    @include xxs {
      min-width: 100%;
      margin-bottom: 10px;
    }
  }

  .figure__ {
    padding-bottom: 56.603%;
    margin: 0 !important;
  }

  .request_block {
    @include xxs {
      min-width: calc(50% - 5px);
      max-width: calc(50% - 5px);
    }
  }

  .requests_title__ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphSecondaryColor;
    
    @include xxs {
      font-size: 1.2rem;
      gap: 5px;
    }
    
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  
  .info__ {
    font-size: 1.3rem;
    font-weight: 500;
    color: $headingMainColor;
    
    @include xxs {
      font-size: 1.1rem;
      font-weight: 400;
    }

    &.price__ {
      color: $primaryColor;
    }
  }

  &:hover {
    text-decoration: none;

    .img-om {
      transform: scale(1.1);
    }
  }
}
