.requests_details_card {
  background-color: $greyColor;
  padding: 20px 40px;
  border-radius: $mainBorderRadius;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 62px;

  .title__ {
    font-size: 1.5rem !important;
    font-weight: 300 !important;
    color: $paragraphMainColor !important;
  }
  
  .sub_title__ {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: $headingMainColor !important;
  }
}