.search_mode_wrapper__ {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 13px;
  margin-bottom: 20px;

  @include sm {
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 100% !important;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 500;
    color: $headingSecondaryColor;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    &.filter_title__ {
      &::before {
        content: url(../images/shapes/search_wrapper_filter_title.svg);
      }
    }

    &.sort_title__ {
      &::before {
        content: url(../images/shapes/search_wrapper_sort_title.svg);
      }
    }
  }

  .filter_search_block__ {
    @include sm {
      width: 100%;
    }
    
    .dropdown-toggle {      
      @include sm {
        min-width: 100%;
      }
    }
  }


  .sort_search_block__ {
    @include sm {
      width: 100%;
    }
    .dropdown-toggle {
      min-width: 213px;
      
      @include sm {
        min-width: 100%;
      }
    }
  }

  .button__ {
    width: 100%;
  }
}