.set_quantity_wrapper__ {
  display: flex;
  align-items: center;

  .quantity_value {
    background-color: transparent !important;
    font-size: 2.9rem;
    font-weight: 300;
    max-width: fit-content;
    padding: 0;
    width: fit-content;
    width: 85px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}